@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Vazirmatn';
}
:root{
    --color-base-primary : #FA541C;
    --color-base-secondary : #032340;
    --color-base-background : #FFFFFF;
    --color-base-primary-back : #FEEEE8;
    --color-base-secondary-back : #FBF5FF;
    --color-background-primary : #F9F9F9 ;

    --color-neutral-800 : #868686 ;
    --color-neutral-700 : #f9f9f9 ;

    --color-error-800   : #8a1513 ;
    --color-error-500  : #E53935 ;
    --color-error-200  : #FADDCA ;


    --color-warning-800 : #995700;
    --color-warning-500 : #FFB300 ;
    --color-warning-200  : #FFF3BF ;

   --color-info-800 : #0F5894 ;
   --color-info-500 : #29B6F6 ;
   --color-info-200 : #C7F2FC ;

   --global-margin-small : 24px ;
   --global-margin-medium : 48px ;
   --global-margin-large  : 96px ;

    --global-padding-small : 16px ;
   --global-padding-medium : 24px ;
   --global-padding-large  : 48px ;

   --cart-padding-small : 16px ;
   --cart-padding-medium : 24px ;
   --cart-padding-large  :  32px ;

   --button-padding-small : 12px 24px ;
   --button-padding-medium : 16px 32px ;
   --button-padding-large : 20px 40px ;

   --header-margin-small : 16px ;
   --header-margin-medium : 24px ;
   --header-margin-large : 32px ;

   --font-body-xxxl : 30px ;
   --font-body-xxl : 26px ;
   --font-body-xl : 20px ;
   --font-body-large : 18px ;
   --font-body-md : 16px ;
   --font-body-sm : 14px ;
   --font-body-xs : 12px ;
   
   --font-weight-light : 300 ;
   --font-weight-regular : 400;
   --font-weight-medium : 500;
   --font-weight-bold : 700 ;

}

*{
    list-style-type: none;
}
body{
    background-color: var(--color-base-background);
}